/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.flipme {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);

}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.margined10 {
    margin: 10px;

}

/*.noShadow */
input[type=password]:focus:not([readonly]),
input[type=text]:focus:not([readonly]) {
    box-shadow: none !important;

}

.daysBadge1 {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #ffe0b2;
    border-radius: 2px;

    min-width: 3rem;
    padding: 0 6px;
    text-align: center;

    line-height: inherit;
    color: #757575;
    position: relative;
    left: 5px;
    /* right: 15px; */
    box-sizing: border-box;
}

.daysBadge2 {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #b2ebf2;
    border-radius: 2px;

    min-width: 3rem;
    padding: 0 6px;
    text-align: center;

    line-height: inherit;
    color: #757575;
    position: relative;
    left: 5px;
    /* right: 15px; */
    box-sizing: border-box;
}

/*#84ffff*/
nav .loginTopInfo {
    color: white !important;
}

/*@media only screen and (min-width: 601px)*/
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 48px !important;
    line-height: 48px !important;
    /* line-height: 64px; */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

html {
    color: #666;
}

html {
    font-size: 16px;
}

.taskLabel {
    border: 10px none;
    box-sizing: border-box;
    display: flex;
    font-family: Roboto, sans-serif;
    cursor: default;
    text-decoration: none;
    margin: 0 15px 0 0;
    padding: 0;
    outline: medium none;
    font-size: inherit;
    font-weight: inherit;

    white-space: nowrap;
    width: -moz-fit-content;
    line-height:32px;

}


.clickableChip:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}
/** tooltip **/
.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    z-index:9999999999;
    font-size: 13px;

}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    z-index:9999999999;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/** tooltip -end*/

/* Text inputs */
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    margin: inherit;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.eot");
    src: url("../fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.eot");
    src: url("../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.eot");
    src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Medium.eot");
    src: url("../fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Bold.eot");
    src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}
/** page footer */
footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;

}

.footer-container {
width: 70%;
    margin: 0 auto;

}

footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.15);
}



/** materialize colors */
.red-text.text-darken-3 {
    color: #C62828 !important;
}
.cyan.lighten-1 {
    background-color: #26c6da !important;
}
.orange-text {
    color: #ff9800 !important;
}
.cyan-text {
    color: #00bcd4 !important;
}
.orange {
    background-color: #ff9800 !important;
}
.orange-text.text-lighten-3 {
    color: #ffcc80 !important;
}

nav {
    color: #fff;
}
nav .fa::before {
    color: #fff;
}
h2 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
    font-weight: 400;
}
html {

    font-family: "Roboto", sans-serif;
    font-weight: normal;

    font-size: 16px;

}
body {
    margin:0;
}



/**flexboxgrid overrides */
.row {
     margin-right: 0rem;
     margin-left: 0rem;
     margin-bottom: 0rem;

}
.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

    padding-right: 0;  /* padding-right: 1rem; */
    padding-left: 0; /* padding-left: 1rem; */
}
.container{width:inherit}

/*@media only screen and (min-width: 600px)*/
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1280px;
    }

@media only screen and (max-width: 1100px) {
    .container {
        width: 100%;
    }
}

    #eventGroupChatContent {
    /*    width:100%;*/
        line-height: 20px;
    }

h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}


.universal-appear {
    opacity: 0.01;
}

.universal-appear.universal-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}
